/*
 * -------------------------------------------------
 *  Nextflow config file for running on AWS batch
 * -------------------------------------------------
 * Base config needed for running with -profile awsbatch
 */

params {
  config_profile_name = 'AWSBATCH'
  config_profile_description = 'AWSBATCH Cloud Profile'
  config_profile_contact = 'Independent Data Lab'
  config_profile_url = 'https://aws.amazon.com/de/batch/'
}

workDir = 's3://wes.vhio-toledo/nf'

process {
  executor = 'awsbatch'
    // Per-process configuration
  withName:fastqc {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/fastqc'
      cpus = 8
      memory = '16GB'
      queue = 'high_priority'
    }
  withName:bwa_index_ref {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/bwa'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:cutadapt {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/cutadapt'
      cpus = 8
      memory = '16GB'
      queue = 'high_priority'
    }
  withName:bwa_align {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/bwa'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:picard_MarkDuplicates {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/picard'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:samtools_bam_index {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/samtools'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:picard_CollectWgsMetrics {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/picard'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:multiqc {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/multiqc'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:hmm_readCounter {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/hmmcopy'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:ichorcna {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/ichorcna'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
}
docker {
    enabled = true
}


