/*
 * -------------------------------------------------
 *  Nextflow config file for running on local workstation
 * -------------------------------------------------
 * Base config needed for running with -profile local
 */

workDir =  '~/nf/ichorcna'
params {
  config_profile_name = 'LOCAL'
  config_profile_description = 'Profile to run on the personal computer'
  config_profile_contact = 'Independent Data Lab'
}

aws {
//  accessKey = '<your key>'
//  secretKey = '<your secret key>'
  region = 'eu-central-1'
}
