/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode="copy" 

  // Global
  outdir      = "s3://wes.vhio-toledo"
  reads         = "s3://wes.vhio-toledo/fastq/raw/IMN*R{1,2}.fastq.gz"
  skip_reference_indexing = true
  bwa_cmd_args = "-t 8"
  trimgalore_cmd_args = "--paired --cores 4 "

  // References
  references {
    bwa = "s3://wes.vhio-toledo/reference/bwa_GRCh38/"
    fasta = "s3://wes.vhio-toledo/reference/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    gtf = "s3://wes.vhio-toledo/reference/Homo_sapiens.GRCh38.101.gtf"
  }
}

workDir = 's3://wes.vhio-toledo/nf'

process {
    // Per-process configuration
  withName:fastqc {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/fastqc'
      cpus = 8
      memory = '16GB'
      queue = 'high_priority'
    }
  withName:bwa_index_ref {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/bwa'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
  withName:trimgalore {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/trimgalore'
      cpus = 8
      memory = '16GB'
      queue = 'high_priority'
    }
  withName:bwa_align {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/bwa'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:picard_MarkDuplicates {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/picard'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:samtools_bam_index {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/samtools'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:picard_CollectWgsMetrics {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/picard'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:multiqc {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/multiqc'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:hmm_readCounter {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/hmmcopy'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
 withName:ichorcna {
      container = '915458310522.dkr.ecr.eu-central-1.amazonaws.com/batch/ichorcna'
      cpus = 8
      memory = '30GB'
      queue = 'high_priority'
    }
}

profiles {
  awsbatch { includeConfig 'conf/aws.config' }
}

manifest {
  name = 'Preprocessing samples for ichorCNA'
  author = 'tatsianaaneichyk'
  homePage = 'https://www.independentdatalab.com/about'
  description = 'Running preprocessing of fastq WES samples'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}

